/*
pipeline details
*/

manifest {
	author = "Andrew VonHandorf"
	defaultBranch = "master"
	description = "ENCODE ChIP-seq pipeline translated into Nextflow with modifications"
	homePage = "https://github.com/andvon/nf-encode-chip2"
	mainScript = "main.nf"
	nextflowVersion = ">=24.04.1"
	version = "0.0.1"
}

/*
nextflow settings
*/

nextflow.enable.moduleBinaries = true
nextflow.preview.output        = true

plugins {
	id 'nf-schema@2.0.0'
}

/*
pipeline parameters
*/

params {
	input                    = null
	outdir                   = null
	genome                   = null
	fasta                    = null
	gtf                      = null
	gensz                    = null
	mito_chr_name            = "chrM"
	mito_fasta               = null
	bowtie2_index            = null
	local_mode               = false
	mapq_threshold	         = 30
	chr_filter               = 'chr[0-9XY]+'
	pseudorep_seed           = 42
	blacklist_peaks	         = null
	chip_mode                = "tf"
	encode_macs2_pthresh     = 0.01
	skip_peak_filtering      = false
	email                    = null
	ucsc_trackhub_hub        = "ChIPTrackHub"
	ucsc_trackhub_shortlabel = "ChIP-seq"
	ucsc_trackhub_longlabel  = "ChIP-seq data"
	encode_macs2_args        = "-f BED -p 0.01 --nomodel --shift 0 --keep-dup all -B --SPMR"

	idr_threshold_col    = "p.value"
	idr_threshold        = 0.05
	skip_idr             = false
	skip_overlap         = false

	skip_adapter_trimming = false
	save_reference        = false
	save_trimmed_fastq    = false
	skip_align            = false

	bamcoverage_binsize   = 10
	bamcoverage_normalize = "CPM"
	skip_bamcoverage      = false

	kraken2_db            = "https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20240605.tar.gz"
	skip_kraken2          = false

	sourmash_db          = null
	sourmash_params      = "abund"
	skip_sourmash	     = false

	skip_homer_findmotifsgenome = false
	homer_log2_mode      = false
	homer_motif_lib      = null
	homer_denovo_enabled = false
	skip_homer_annotatepeaks = false

	multiqc_config       = "${projectDir}/assets/multiqc_config.yaml"

	sourmash_db          = null
	sourmash_params      = "abund"
	skip_sourmash	     = false

	skip_homer_findmotifsgenome = false
	homer_log2_mode      = false
	homer_motif_lib      = null
	homer_denovo_enabled = false
	skip_homer_annotatepeaks = false

	multiqc_config       = "${projectDir}/assets/multiqc_config.yaml"

	publish_dir_mode     = "copy"
	max_cpus             = 100
	max_memory           = 128.GB
	max_walltime         = 72.h
}

profiles {
	conda {
		conda.enabled       = true
		singularity.enabled = false
		docker.enabled      = false
		apptainer.enabled   = false
	}
	docker {
		conda.enabled       = false
		singularity.enabled = false
		docker.enabled      = true
		apptainer.enabled   = false
		docker.runOptions   = '-u $(id -u):$(id -g)'
	}
	singularity {
		conda.enabled       = false
		singularity.enabled = true
		docker.enabled      = false
		apptainer.enabled   = false
		docker.runOptions   = '-u $(id -u):$(id -g)'
	}

	test { includeConfig "${projectDir}/conf/test.config" }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
// This has to be disabled due to SPP for now.
//process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false


/*
workflow introspection
*/

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.mmd"
}

/*
Additional checks
*/



/*
process directives
*/

process {
    resourceLimits = [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_walltime
    ]
}

process {
	withName: "FASTP_FASTP" {
		ext.args = ""
	}
	
	withName: "BOWTIE2_BUILD" {
		ext.args = [
			""
		].join(" ").trim()
	}
	withName: "BOWTIE2_ALIGN" {
		ext.args = {
			[
				params.local_mode ? "--local" : "",
				!meta.single_end ? "-X2000" : ""
			].join(" ").trim()
		}
	}
	if(!params.skip_homer_findmotifsgenome) {
		withName: "HOMER_FINDMOTIFSGENOME" {

			ext.args = {
				[
					"-size given",
					!params.homer_denovo_enabled ? "-nomotif" : "",
				].join(" ").trim()
			}
			if (params.homer_log2_mode){
				container = "quay.io/andvon/homer_log2:2870c2b"
			}
		}
	}
	withName: "MACS2_CALLPEAK" {
		ext.args = {
			[
				params.encode_macs2_args ? params.encode_macs2_args : "",
				meta.frag_len ? "--extsize ${meta.frag_len}" : ""
			].join(" ").trim()
		}
	}
	if(!params.skip_sourmash){
		withName: "SOURMASH_SKETCH" {
			ext.args = {
				[
					params.sourmash_params ? "-p ${params.sourmash_params}" : ""
				].join(" ").trim()
			}
		}
	}

	if(!params.skip_bamcoverage){
		withName: "DEEPTOOLS_BAMCOVERAGE" {
			ext.args = {
				[
					params.bamcoverage_binsize   ? "--binSize ${params.bamcoverage_binsize}" : "",
					params.bamcoverage_normalize ? "--normalizeUsing ${params.bamcoverage_normalize}" : ""
				].join(" ").trim()
			}
		}
	}

	if(!params.skip_kraken2){
		withName: "KRAKEN2_KRAKEN2" {
			ext.args = {
				[
					"--output -",
					"--report-minimizer-data",
					"--use-names"
				].join(" ").trim()
			}
		}
	}

	withName: "LIB_QC" {
		ext.chr_filter = params.mito_chr_name ? params.mito_chr_name : ""
	}

	withName: "UCSC_BEDTOBIGBED" {
		ext.args = "-tab"
	}
	withName: "UCSC_TRACKHUB" {
		ext.args = {
			[
				params.genome ? "--genome ${params.genome}" : "",
				params.email  ? "--email '${params.email}'" : "",
				params.ucsc_trackhub_shortlabel ? "--shortLabel '${params.ucsc_trackhub_shortlabel}'" : "",
				params.ucsc_trackhub_longlabel  ? "--longLabel '${params.ucsc_trackhub_longlabel}'" : "",
			].join(' ').trim()
		}
	}
}
