nextflow.enable.moduleBinaries = true
nextflow.preview.output = true
params {
	input              = null
	outdir             = null
	fasta              = null
	gensz              = null
	mito_chr_name      = "chrM"
	mito_fasta         = null
	bowtie2_index      = null
	bowtie2_mito_index = null
	chrom_sizes        = null
	multimapping       = null
	local_mode         = false
	read_length_reads  = 100


	publish_dir_mode = "copy"
}

profiles {
	conda {
		conda.enabled       = true
		singularity.enabled = false
		docker.enabled      = false
		apptainer.enabled   = false
	}
	docker {
		conda.enabled       = false
		singularity.enabled = false
		docker.enabled      = true
		apptainer.enabled   = false
		docker.runOptions   = '-u $(id -u):$(id -g)'
	}

	test { includeConfig "${projectDir}/conf/test.config" }
}

//includeConfig "${projectDir}/conf/modules.config"

manifest {
	author = "Andrew VonHandorf"
	defaultBranch = "master"
	description = "ENCODE ChIP-seq pipeline translated into Nextflow with modifications"
	homePage = "https://github.com/andvon/nf-encode-chip2"
	mainScript = "main.nf"
	nextflowVersion = ">=24.04.1"
	version = "0.0.1"
}

plugins {
	id 'nf-schema@2.0.0'
}