process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

process {
	withName: '.*:CAT_FASTQ_GZ' {
		publishDir = [
			path: { "${params.outdir}/fastq/concatenated" },
			mode: params.publish_dir_mode,
			enabled: params.save_cat_fastq,
			pattern: '*.fastq.gz',
			saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
		]
	}
	withName: '.*:FASTQC_FASTQC' {
		publishDir = [
			path: { "${params.outdir}/fastq/fastqc" },
			mode: params.publish_dir_mode,
			saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
		]
	}
	if (!params.skip_adapter_trimming) {
		if (params.adapter_trimmer == 'fastp') {
			withName: '.*:FASTP_FASTP' {
				publishDir = [
					[
						path: { "${params.outdir}/fastq/fastp" },
						mode: params.publish_dir_mode,
						pattern: '*.{html,json}',
						saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
					],
					[
						path: { "${params.outdir}/fastq/fastp" },
						mode: params.publish_dir_mode,
						pattern: '*.fastq.gz',
						enabled: params.save_trimmed_fastq,
						saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
					]
				]
			}
		}
	}
}