params {
	input           = "${projectDir}/assets/test_data/samplesheet.csv"
	outdir          = "tests/run_results"
	fasta           = "https://storage.googleapis.com/encode-pipeline-genome-data/hg38_chr19_chrM/GRCh38_no_alt_analysis_set_GCA_000001405.15.chr19_chrM.fasta.gz"
	//mito_fasta    = "https://storage.googleapis.com/encode-pipeline-genome-data/hg38_chr19_chrM/GRCh38_no_alt_analysis_set_GCA_000001405.15.chr19_chrM.chrM.fa.gz"
	//mito_chr_name = "chrM"
	//blacklist     = "https://www.encodeproject.org/files/ENCFF547MET/@@download/ENCFF547MET.bed.gz"
	//gensz         = "hs"
	sourmash_db     = "https://farm.cse.ucdavis.edu/~ctbrown/sourmash-db/gtdb-rs214/gtdb-rs214-reps.k31.zip"
	sourmash_params = "k=31,abund"
	enable_sourmash = true
}